<header>
  
    <a class="logo__link" href="/">
      <ul class="logo__textContainer">
      <li class="logo__text">W</li>
      <li class="logo__text">O</li>
      <li class="logo__text">R</li>
    </ul>
    <ul class="logo__textContainer">
      <li class="logo__text">D</li>
      <li class="logo__text">L</li>
      <li class="logo__text">E</li>
    </ul>
    </a>

  <nav class="dropdown">
    <hr class="dropdown__icon">
    <hr class="dropdown__icon">
    <hr class="dropdown__icon">
  <ul class="dropdown__content">
    <li><a class="dropdown__item" href="/">Play!</a></li>
    <li><a class="dropdown__item" href="/leaderboard">Leaderboards</a></li>
    <li><a class="dropdown__item" href="/about">About</a></li>
  </ul>
</nav>
</header>