<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head", {wordleGame: true, leaderboard:false}) %>
<body>
  
  <%- include("./partials/header") %>
  <main>
  <div id="root"></div>
</main>
</body>
</html>