$xs: 360px;
$small: 550px;
$medium: 960px;
$large: 1080px;
$xl: 1260px;
$bg-primary: #3b4371;
$bg-secondary: #f3904f;
$color-white: rgb(244, 244, 244);
$standard-font: "Courier New", Courier, monospace;
@mixin breakpoint($point) {
    @media screen and (min-width: $point) {
        @content;
      }
  }
@mixin breakpointMax($point) {
    @media screen and (max-width: $point) {
        @content;
      }
  }
html {
        font-family: $standard-font;
        font-size: 12px;
        min-height: 100%;

    @include breakpoint(($xs)) {
            font-size: 14px;
        }
    @include breakpoint(($small)) {
            font-size: 16px;
        }
    @include breakpoint(($medium)) {
            font-size: 20px;
        }
    }
body {
        background: linear-gradient(to top right, $bg-secondary, $bg-primary);
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 6rem 1fr;
        margin: 0;
        min-height: 100vh;
        overflow-x: hidden;

    //background: linear-gradient(to right, #000000, #434343);
    //background: linear-gradient(to right, #780206, #061161);
    //background: linear-gradient(to right, #232526, #414345);
    //background:linear-gradient(-45deg, rgb(12, 155, 122) 40%, black 40% );
    //background: linear-gradient(to right, #3a6548, #928e6d);
    //background: linear-gradient(to right, #3c3b3f, #605c3c);
    //background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    //background-image: linear-gradient(to right, #34d447, #f9c750, #ff5d5d);
    //background-image: linear-gradient(to right, #5a3f37, #2c7744);
        /*&--correct{
background-color:
}
    &--misplaced{
    background-color: #f9c750;
}
    &--incorrect{
    background-color: #ff5d5d;
}*/
    }

    main{
        display: grid;
        grid-row: 2 / span 1;
        grid-template-columns: auto;
        grid-template-rows: 1fr;
    }


    @import "header";

    @import "wordleGame";

    @import "leaderboard";