$xs: 360px;
$small: 550px;
$medium: 960px;
$large: 1080px;
$xl: 1200px;
$xxl: 1650px;
$spec: 1260px;

$color-white: rgb(244, 244, 244);
$standard-font: 'Courier New', Courier, monospace;

@mixin breakpoint($point) {
    @media screen and (min-width: $point) {
        @content;
    }
}

@mixin breakpointMax($point) {
    @media screen and (max-width: $point) {
        @content;
    }
}




html{
  font-family: $standard-font;
  min-height: 100%;
  font-size: 12px;
  
  @include breakpoint(($xs)){
    font-size: 14px;
  }

  @include breakpoint(($small)){
    font-size: 20px;
  }

  @include breakpoint(($medium)){
    font-size: 24px;
  }
}

body{
  margin: 0;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 6rem 1fr;
  overflow-x: hidden;
  //background: linear-gradient(to right, #000000, #434343);
  //background: linear-gradient(to right, #780206, #061161);
  //background: linear-gradient(to right, #232526, #414345);
  //background:linear-gradient(-45deg, rgb(12, 155, 122) 40%, black 40% );
  //background: linear-gradient(to right, #3a6548, #928e6d);
  //background: linear-gradient(to right, #3c3b3f, #605c3c);
  //background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  //background-image: linear-gradient(to right, #34d447, #f9c750, #ff5d5d);
  background: linear-gradient(to top right, #f3904f, #3b4371);
  //background-image: linear-gradient(to right, #5a3f37, #2c7744);
  background-repeat: no-repeat;
  /*&--correct{background-color: }
    &--misplaced{background-color: #f9c750;}
    &--incorrect{background-color: #ff5d5d;}*/
  
  
}

#root{
  display: grid;
  grid-row: 2/span 1;
}

.wordlGame{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4rem;

  &__wrapper{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    background-color: rgba(44, 44, 44, 0.178);
    border: solid 5px $color-white;
    border-radius: 6px;
    margin: 0 1rem 0 1rem;
    box-shadow: 0px 0px 4px  rgba(0, 0, 0, 0.817) ;
    
    

   /* @include breakpointMax(($xs)){
      padding: 1rem;
    }*/
    @include breakpoint(($small)){
      max-width: 450px;
    }
    @include breakpoint(($medium)){
      max-width: 800px;
    }
  }

  &__title{
    font-size: 2rem;
    color: $color-white;
    text-shadow: 1px 1px 1px black;
    cursor: default;
    margin: 0;

    
  }

  

  
}

.difficulty{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__info{
    font-size: 1.2rem;
    font-weight: 600;
    color: $color-white;
  }

  &__line{
    border-width: 3px;
    border-style: solid;
    width: 100%;
    color: $color-white;
  }
    
  &__setLength{
    width: 30px;
    height: 30px;
    border-radius: 3px;
    text-align: center;
    font-size: 1.2rem;
  }

  &__setUnique{

  }
}

.guess{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  &__letterBox{
    display: flex;
    gap: 0.5rem;
  }

  &__letterInput{
    text-align: center;
    font-size: 1.2rem;
    padding: 0.6rem 0;
    border-radius: 4px;
    font-weight: bold;
    font-family: $standard-font;
    width: 11rem;
    background-color: $color-white;
  }

  &__submit{
    
    
  }

  &__giveUp{
    margin-top: 1rem;
    padding: 0.3rem;
    font-size: 1.2rem;
    color: #ff5d5d;;
    font-weight: bold;
    text-decoration: none;
    border: solid 2px #ff5d5d;;
    border-radius: 6px;
    cursor: pointer;

    &:active{
      background-color: rgba(255, 252, 252, 0.059);
    }
  }
}

.result{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  margin: 1rem 0 1rem 0;
  

  &__word{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 1rem;
    list-style: none;
  }

  &__letter{
    display: inline-block;
    width: 3rem;
    line-height: 3rem;
   font-size: 1.5rem;
   font-weight: bold;
   border-radius: 4px;
    text-align: center;
    color: $color-white;
    //font-family: $standard-font;
    


    &--correct{background-color: #45cb55;}
    &--misplaced{background-color: #f9c750;}
    &--incorrect{background-color: #ff5d5d;}
  }
}

.gameButton{
  font-size: 1.2rem;
  padding: 0.6rem 0;
    border:solid 2px rgb(201, 200, 200) ;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.123);
    color: $color-white;
    font-weight: bold;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    width: 11rem;

    &:active{
      background-color: rgba(211, 211, 211, 0.123);
    }
}

